@import "../abstracts/variables";
@import "../abstracts/mixin";

.categorias__titulo {
    margin-bottom: 2rem;
}

.categoria__img {
    width: 10rem;
}

.categoria__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoria__html span {
    @include texto();
}

.categoria__html {
    @include categoria($naranjo);
}

.categoria__js {
    @include categoria($amarillo);
}

.categoria__js span {
    @include texto();
}

.categoria__css {
    @include categoria($azul);
}

.categoria__css span {
    @include texto();
}

.categoria__react {
    @include categoria($oscuro);
}

.categoria__react span {
    @include texto();
}

.categoria__vue {
    @include categoria($verde);
}

.categoria__vue span {
    @include texto();
}

.categoria__boostrap {
    @include categoria($morado);
}

.categoria__boostrap span {
    @include texto();
}
